<div class="container pt-3">
	<div class="row heading-row header-bg">
		<div class="col-12 col-md-9 pb-2">
			<h1 class="text-left">Search and save your favorite locations by a city name or country:</h1>
		</div>
	</div>

	<div class="row white-bg main-display">
		<div class="col-12">

			<!-- messages -->
			<div class="row">
				<div class="col-12">
					<h1 *ngIf="showErrorMessage">There was an error, please try again later.</h1>
					<h2 *ngIf="isAppLoading">Loading data...</h2>
				</div>
			</div>

			<!-- search row -->
			<div class="row">
				<div class="col-12">
					<app-search *ngIf="!isAppLoading" [isLoading]="isAppLoading" (searchText)="getUpdatedSearchText($event)"></app-search>
				</div>
			</div>

			<!-- locations and saved row -->
			<div class="row flex-column-reverse flex-md-row">
				<div class="col-12 col-md-8" *ngIf="!isAppLoading">
					<h2 *ngIf="showNoResultsMessage">No results</h2>
					<h2 *ngIf="data.dataFilteredForDisplay.length > 0">Locations:</h2>

					<div class="results-column" [ngClass]="{'loading': isServerCall}">
						<div class="scroll-container" (scroll)="scrollCheck($event.target)">
							<app-locations-display [locations]="data" (saveLocation)="updateSavedList($event.location, $event.type)"></app-locations-display>
						</div>
						<div class="loading-animation"></div>
					</div>
				</div>
				<div class="col-12 col-md-4" *ngIf="!isAppLoading">
					<h2 class="d-none d-md-block">Saved: {{data.dataSavedForDisplay.length}}</h2>
					<div class="saved-column" [ngClass]="{'loading': isServerCall}">
						<app-saved-display [savedLocations]="data.dataSavedForDisplay" (removeLocation)="updateSavedList($event, false)"></app-saved-display>
						<div class="loading-animation"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
