/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primaryBlue: #00aee5;
$primaryGray: #e0dddf;


@font-face {
  font-family: 'Messina';
  src: url('./assets/fonts/MessinaSansMonoWeb-SemiBold.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Bold.woff2') format('woff2');
	font-weight: 700;
}

html, body {
	background-color: #000;
	color: #fff;
	font-family: 'Aeonik', sans-serif;
	font-feature-settings: 'ss02';
}

body {

}

h1 {
	font-weight: 500;
	font-size: 56px;
	line-height: 64px;


	@include media-breakpoint-up(md) {
		margin-bottom: 70px;
	}
}

h2 {

}

h3 {

}

h4 {

}

p {
	font-size: 26px;
	line-height: 32px;
}

.header-bg {
	position: relative;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		z-index: -1;
		background-image: url('./assets/images/asapp-outline.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.heading-row,
.main-display {
	padding: 100px 25px 50px;

	@include media-breakpoint-up(md) {
		padding: 150px 50px 100px;
	}
}

.white-bg {
	background-color: #fff;
	color: #000;
}


// @include media-breakpoint-down(sm) {

// }

.gray-bg {
	background-color: #f5f6f3;
}

.cta-button {
	width: 100%;
	min-width: 306px;
	max-width: 400px;
}

.cta-button-black {
	color: #fff;
	background: #000;
	border: 1px solid #000;
}

.cta-button-white {
	color: #000;
	background: #fff;
	border: 1px solid #fff;
}




// background: #00aee5;
// border: 1px solid #00aee5;

