@import "./node_modules/bootstrap/scss/bootstrap-utilities.scss";

.search-box {
	width: 100%;
	padding: 12px;
	border-radius: 0;
	margin-bottom: 50px;

	&:focus-visible {
		outline: 0;
	}

	@include media-breakpoint-up(md) {
		max-width: 400px;
	}
}
